* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html {
  font-size: 62.5%;
}


html,
body,
#root {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  /* min-height: 100%; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assets/images/background.png'); */
  /* background-size: cover; */
  background: linear-gradient(90deg, rgba(66,66,66,0.9836309523809523) 0%, rgba(251,253,254,1) 100%);
}

